services:
  auth_service:
    build: ./auth_service
    ports:
      - "5000:5000"
  orders_service:
    build: ./orders_service
    ports:
      - "5001:5001"
  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped

volumes:
  jenkins_home:
