services:
  auth_service:
    build: ./auth_service
    ports:
      - "5000:5000"
  orders_service:
    build: ./orders_service
    ports:
      - "5001:5001"
  jenkins:
    build:
      context: .
      dockerfile: Jenkins.Dockerfile       # Aponta para o Dockerfile customizado
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  jenkins_home:
